.annonce {
    height: 120px; 
    border: 1px solid activeborder;
}

.couleurAnnonce {
    background-color: #1b6d85;
    height: 100%; 
}

.photoEtudiant {
    height: 80px;
    width: auto;
}

.photoProduit {
    height: 120px;
    width: auto;
}

.photoDetailProduit {
    width: 300px;
}