html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 300px 0 !important; /* bottom = footer height */
}
footer {
    width: 100%;
    height: 150px; 
    color: #009393;
    text-align: center;
    padding: 30px; 
    position: absolute;
    bottom: 0;
}

.navbar-toggle.collapsed {
    background-color: #FF3800 !important;
    color: #FFFCC4 !important;
}
.navbar-toggle {
    background-color: #FFFCC4 !important;
    color: #FF3800 !important;
    border: none !important;
    font-family: "Trebuchet MS";
    font-weight: bold;
}
.logo {
    font-family: "Trebuchet MS";
    color: #FFFCC4 !important;
    font-size: 30px;
    font-weight: 900;
}
.etu {
    color: #009393 !important;
}
.navbar {
    background-color: #00585F !important;
    border: none !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
    -moz-box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
    box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
}
.navbar-default .navbar-nav > li > a {
    color: #FFF !important;
    line-height: 26px !important;
    font-size: 15.5px;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #FF3800 !important;
}
.navbar-default .navbar-collapse {
    border: none !important;
}
.navbar-default .navbar-nav>.open>a {
    background-color: #00585F !important;
}
/*
 *  BOUTTON de CONNEXION
 */
.btn-info {
    background-color: #FF3800 !important;
    color: #FFF !important;
    border: none !important;
    font-size: 15.5px !important;
}
.btn-info:hover {
    background-color: #FF4F00 !important;
    color: #FFF !important;
}

/* 
 *  MODAL DE CONNEXION
 */
.modal-dialog {
    text-align: center;
}
.modal-content {
    position: static !important;
}
.dismiss-button {
    font-size: 30px !important;
}
#logoPACA {
    width:auto; 
    height:60px; 
    margin: 0 auto -33px auto;
}
#modalConnection-content {
    
    background-image: url(../resources/background_modal.png);
    background-position:right top;
    background-size: cover;
    text-align: center;
    padding: 30px 50px;
    border: none !important;
}
#modalConnection-content > p {
    font-family: "Trebuchet MS";
    font-size: 18px;
    color: #FFF;
    margin: 10px auto;
}
#modalConnection-content > a {
    color: #FFFCC4;
}
#modalConnection-content > a:hover {
    color: #009393;
}
#modalConnection-content > form {
    width: 50%;
    margin: auto auto;
}
#modalConnection-content > form > input {
    margin: 20px 0;
    height: 40px;
    background-color: #FFF;
}

/*
 *  CREER NOUVEAU COMPTE
 */
.main {
    background-color: #FFFFFF;
    border-radius:10px;
    -webkit-box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
    -moz-box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
    box-shadow: 1px 11px 20px -1px rgba(92,87,92,0.65);
    padding-bottom: 50px;
}
.header {
    text-align: center;
    color: #FFF;
    background-color: #009393;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.header-left {
    border-top-left-radius: 10px;
    border-top-right-radius: 0;
}
.header-right {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}
.header > h3 {
    padding: 7px;
    margin: 0;
}
.contenu {
    margin: 30px auto 0 auto;
    width:60%;
}
.contenu-full {
    width:100%;
}
#creerCompteButton {
    background-color: #009393;
    color: #FFF;
    float: right;
}
#creerCompteButton:hover {
    background-color: #00585F;
    color: #FFF;
}
.alert {
    margin-bottom: 0;
}
.alert-danger {
    text-align: center;
    font-size: 16px;
    color: #cc0000 !important;
    background-color: inherit !important;
    padding: 5px !important;
    border: none !important;
}
.alert-success, .alert-warning {
    text-align: center;
    font-size: 20px;
    border: none !important;
}
.alert-success {color: #4cae4c !important;}
    
.alert-warning {color: #FF3800 !important;}

.list-inline {
    margin: 0 !important;
}
.nouveau-compte-input::-webkit-input-placeholder {
   font-style: italic;
}
.nouveau-compte-input:-moz-placeholder {
   font-style: italic;  
}
.nouveau-compte-input::-moz-placeholder {
   font-style: italic;  
}
.nouveau-compte-input:-ms-input-placeholder {  
   font-style: italic; 
}

/*
    ADMINISTRATION
*/
.table {
  border-collapse: separate;
  border-spacing: 0 5px;
}
.table tr:first-child {
    background-color: #00585F;
    color: #FFF;
}

.table tr:first-child td:first-child {
    border-top-left-radius: 5px;
}
.table tr:first-child td:last-child {
    border-top-right-radius: 5px;
}
.table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.table td {
    border: none !important;
}
.table tr {
    background-color: #FFFCC4;
}

/*
    PROFIL
*/
.photo-profil-wrapper {
    padding: 190px;
    margin: auto auto;
}
.photoEtudiant-profil {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
}
#photoEdit {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    line-height: 200px;
    text-align: center;
    opacity: 0;
}
#photoEdit:hover {
    opacity: 1;
}
#cameraIcon {
    font-size: 50px;
    line-height: 200px;
}
#previewNouvPhotoProfil {
    width: 50%;
}
h2 {
    color: #FF3800 !important;
}
.text-aside {
    line-height: inherit; 
    vertical-align: middle; 
    font-size: 18px; 
    color: #00585F;
}
.flex {
    display: flex;
    padding: 0 50px 0 50px;
}
.contenu-profil {
    position: relative;
    height: auto;
    padding-right: 100px !important;
}
.details-profils {
    background-color: #FFFCC4;
    color: #00585F;
    font-size: 17px;
    padding: 15px;
    margin: 10px;
}


.table-details-user, .table-details-annonce {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table-details-user tr td {
    background-color: #FFFCC4;
    color: #00585F;
    font-size: 18px;
    padding: 15px;
}

.table-details-annonce tr td {
    background-color: #FFFCC4;
    color: #00585F;
    font-size: 15px;
    padding: 10px;
}
.table-details-annonce td:first-child{
    background-color: #009393;
    color: #FFF;
}
/*
    PAGE D'ACCUEIL
*/
.list-arrondie-item {
    border-radius: 8px !important;
    padding-bottom: 0 !important;
    margin-bottom: 20px !important;
}
.photo-annonce {
    width: 100%;
    height: auto;
}
.photo-annonce-null {
    width: auto;
    height: 120px;
}
.titre-annonce {
    color: #FF3800;
    font-weight: bold;
}
.titre-annonce:hover {
    text-decoration: none;
    color: #FF4F00;
}
.date {
    font-style: italic;
    color: grey;
}
.outside-element {
    position: absolute;
    right: 0;
    margin-right: - 100px;
}
.photo-profil-annonce {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-right: -40px;
    border-radius: 100%;
    -webkit-box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 16px -2px rgba(0,0,0,0.75);
    width: 80px;
    height: auto;
}
.right-col {
    padding-top: 50px;
}
.photoProduit {
    height: 120px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.iconPhoto {
    position: relative;
    right: 15px;
    bottom: 10px;
    height: 25px;
    width: 25px;
}

.icon {
    position: absolute;
    top: 0;
    height: 25px;
    width: 25px;    
}

.nombrePhotos {
    position: absolute;
    top: 3px;
    height: 25px;
    width: 25px;
    text-align: center;
}

/*
    DEPOT ANNONCE
*/
.btn-select {
    height: 60px;
    font-size: 17px !important;
    background-color: #00585F;
}
.btn-select:hover {
    color: #FFF !important;
    background-color: #009393;
}
.btn-left {
    border-top-left-radius: 10px !important;
}
.btn-right {
    border-top-right-radius: 10px !important;
}

.btn-select.active {
    background-color: #FF3800;
}

.blue-paca {
    background-color: #009393 !important;
}
.blue-paca:hover {
    background-color: #00585F !important;
    cursor: pointer !important;
}
#dropAreaAnnonce {
    width: 100%;
    color: #adadad;
    height: 100px;
    border: 2px #adadad dashed; 
    padding: 30px; 
    margin: 10px 0; 
    text-align: center;
}

/*
    DETAILS ANNONCE
*/

#myCarousel {
    width: 100% !important;
}
.photoDetailProduit {
    height: 300px !important;
    width: auto !important;
}
.carousel-control {
    color: #FF3800 !important;
}
.carousel-control.right {
    background-image: none !important;
}
.carousel-control.left {
    background-image: none !important;
}
.ligne-details-annonce {
    padding: 10px;
    color: #00585F;
    font-family: "Trebuchet MS";
    font-size: 16px;
}
.link:hover {
    text-decoration: none;
}
.outil-link {
    font-size: 25px;
    cursor: pointer;
}
.on-element {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
}
.too-long-text {
    display:inline-block;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.suppr {
    color: #c9302c;
}
.suppr:hover {
    color: red;
}
.edit {
    color: #00585F;
}
.edit:hover {
    color: #009393;
}
.view {
    color: #4cae4c;
}
.view:hover {
    color: #255625;
}
.paca {
    color: #FFF;
}
.paca:hover {
    color: #FF3800;
    text-decoration: none;
}
.imageWrapper {
    float:left;
    position:relative;
}

.modal-content {
    border: none !important;
    padding: 30px 50px;
}

.modal {
    margin-top: 10%;
}

.input-group {
    margin-bottom: 15px;
}

.list-carree-item {
    border-radius: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.list-carree-item:hover {
    background-color: #FFFCC4;
}
.list-item-header {
    background-color: #FF3800;
    color: #FFF;
    padding: 5px 20px;
    font-size: 18px;
    
}

.list-item-contenu {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #00585F;
    font-size: 17px;
    padding: 5px 20px;
}
.photo-annonce-wrapper {
    text-align: center;
}


@media screen and (max-device-width : 485px)
{
    .details-profils {
        font-size: 12px;
    }
    
}
@media screen and (max-device-width : 992px)
{
    .photo-profil-wrapper {
        padding: 100px;
    }
    .contenu-profil {
        padding: 0 !important;
    }
    .photo-profil-annonce {
        position: absolute;
        right: 0;
        margin-right: -80px;
        border-radius: 100%;
        width: 80px;
        height: auto;
    }
    .photo-annonce {
        width: auto;
        max-height: 200px;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF !important;
    }
}

@media screen and (max-device-width : 411px)
{
    .photo-annonce {
        width: 100%;
        height: auto;
    }
}